<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            Background location tracker
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Current Latitude: {{locationTracker.lat}}</h3>
    <h3>Current Longitude: {{locationTracker.lng}}</h3>

    <button ion-button full primary (click)="sendGetRequest()">Post Data</button>

    <ion-card *ngIf="myLoginObject" padding>
        {{myLoginObject}}
    </ion-card>

    <button ion-button full primary (click)="start()">Start Tracking</button>
    <button ion-button full primary (click)="stop()">Stop Tracking</button>

    <ion-card *ngIf="locationTracker.locations2.length > 0">
        <ion-card-header>
            Lat and Lng
        </ion-card-header>
        <ion-card-content *ngFor="let position of locationTracker.locations2; let index = index;">
            <p>Lat: {{position.lat}}</p>
            <p>Lng: {{position.lng}}</p>
            <p>DateTime: {{position.currentDateTime | date: 'full'}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>